/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
} 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html * {
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

/******************************************
/* LAYOUT
/*******************************************/



:root {
  --color-purple-main: #33032f;
  --color-main-sub: #bfb1c1;
  --color-main-complement: #071108;
  --color-blue-gray: #b5bec6;
  --color-blue-accent: #c7dbe6;
  --color-main: #521945;
  --color-accent: #f0dfad;
  --color-sub-accent: #698996;
  --color-brown: #8f5c38;
  --color-beige: #edf0da;
  --color-griege: #a89b8c;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}


/* BUTTONS */
button {
  background: var(--color-main);
  border-radius: 999px;
  box-shadow: var(--color-purple-main) 0 10px 20px -10px;
  box-sizing: border-box;
  color: var(--color-accent);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.pagetitle h1 {
  font-weight: 700;
  font-size: 3em;
  color: white;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.25rem;
  width: 100%;
  height: 6rem;
  margin: 0 auto;
  background-color: var(--color-main);
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  
}

ul li{
  display: inline-block;
  margin-right: 5vw; 
}

li > a{
   color: var(--color-accent);
   text-decoration: none;
}



.navbar img {
  max-height: 50px;
  margin-right: auto;
  margin-left: 5vh;
}


/* BURGER MENU */

.burger {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.burger:hover {
  cursor: pointer;
}

.burger-line {
  display: block;
  border-radius: 2px;
  width: 40px;
  height: 3px;
  background-color: var(--color-accent); 
  margin: 5px 0;
  margin-right: 5vw;
  transition: transform 0.3s ease-in-out;
  transition-duration: 300ms;
}

.burger.open .line1 {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.burger.open .line2 {
  opacity: 0;
}

.burger.open .line3 {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

.menu {
  display: none;
  list-style: none;
  padding: 0;
}

.menu.open {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  padding-top: 1.5vh;
  padding-left: 1vw;
  background-color: var(--color-main-complement);
}

.menu-item {
  margin-bottom: 10px;
}


@media (min-width: 769px) {
  .burger {
    display: none;
  }

  .menu {
    display: inline-block;
  }

  li > a:hover {
    color: var(--color-main);
  }
   
  .menu-item > a:hover {
    background-color: var(--color-accent);
    padding: 24px 0px;
    transition: 0.3ms;
  }


}

/******************************************
/* HERO SECTION
/*******************************************/


.hero {
  display: flex;
  flex-direction: column;
  background-image: url("../img/peacefultree.jpg");
  background-position: bottom;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}




.logo img{
  object-fit: cover;
  max-width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subheadline {
  font-size: 1.4rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding-bottom: 3vh;
}

.intro {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: white;
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.intro h2{
  font-size: 1.7rem;
  text-align: center;
  color: var(--color-main);
}

.introheads2 {
  display: inline-block;
  text-align: center;
  padding: 3vh;
}

.introheads2 span{
  margin-inline: 10px;
  color: #c9ae5d;
  font-size: 1.15rem;
  text-transform: uppercase;
  
}

@media (max-width: 1068px) {
  .introheads2 {
    display: flex;
    flex-direction: column;
  }
}



/******************************************
/* SERVICES SECTION
/*******************************************/
.svc {
  display: flex;
  flex-direction: column;
  background-image: url("../img/sunsetworship.jpeg");
  background-attachment: fixed; /* parallax effect */
  background-position: bottom;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  color: white;

}

.services {
  display: flex;
  justify-content: space-between;
  color: white;

}

.column {
  width: 48%; /* Adjust the width as needed */
}

.left {
  text-align: center;
  padding-bottom: 3vh;
}

.right {
  text-align: center;
}

.servicetitle {
  text-align: center;
  font-size: 2rem;
}

/* Additional styles for the content */
.svc h1{
  padding-top: 1.5em;
}

.services h2 {
  padding-top: 1.5em;
  padding-bottom: 0.8em;
  margin-top: 1.5em;
  font-size: 1.7rem;
  
}

.services p {
  line-height: 1.5;
  margin-bottom: 1em;
  margin-left: 5vw;
  font-size: 1.2rem;
  
}

.services span {
  display: block;
  margin-bottom: 0.5em;
}

.clickbutton {
  margin-top: 1em;
}

/******************************************
/* MEDIA & SERMONS SECTION
/*******************************************/
.media {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.media h1, h2 {
  text-align: center;
  font-size: 2rem;
}

.media h2 {
  font-size: 1.5rem;
}

.mediabuttons {
  padding-top: 2vh;
  padding-bottom: 2vh;
}




/******************************************
/* GIVING PAGE STYLES
/*******************************************/

.giving {
  background-image: url("../img/givingheroimg.jpg");
  height: 500px;
  margin-bottom: 10vh;
}

.givingtitle {
  text-align: center;
  font-size: 2rem;
  color: var(--color-main);
  padding-top: 2.2vh;
  padding-bottom: 2vh;
}

.givingways {
  background-color: var(--color-main-sub);
  padding-bottom: 2vh;
}

.givingway {
  margin-bottom: 40px;
  margin-left: 10vw;
  margin-right: 10vw;
  overflow: hidden;
}

.tithesleft,
.givingleft,
.benevolenceleft {
  float: left;
  margin-right: 70px;
  max-width: 500px;
}

.tithesleft img,
.givingleft img,
.benevolenceleft img {
  max-width: 100%;
  height: auto;
}

.tithesright,
.givingright,
.benevolenceright {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tithesright h2,
.givingright h2,
.benevolenceright h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-main);
  text-align: center;
  margin-bottom: 2vh;
}

.tithesright p,
.givingright p,
.benevolenceright p {
  line-height: 1.5;
  color: var(--color-main);
  text-align: left;
}

.tithesright button,
.givingright button,
.benevolenceright button {
  margin-top: 10px;
  
}

/******************************************
/* BIBLE STUDY PAGE STYLES
/*******************************************/

.dailyverse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3vh;
}

.dailyverse > .todayverse {
  text-align: center;
  font-size: 1.5rem;
}



.bibletitle {
  text-align: center;
  font-size: 2rem;
  padding-top: 3vh;
  padding-bottom: 2vh;
}

/* .bible {
  background-image: url("../img/biblestudy.jpg");
  height: 500px;
  margin-bottom: 10vh;
} */

.biblesections {
  margin-bottom: 40px;
  margin-left: 10vw;
  margin-right: 10vw;
  overflow: hidden;
}


/******************************************
/* CONTACT SECTION
/*******************************************/

/* .contact {
  display: flex;
  flex-direction: row;
  background-color: var(--color-brown);
  align-items: center;
}

.contactways > div {
  display: inline-block;
} */

.contact {
  text-align: center;
  background-color: var(--color-brown);
  color: white;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.contacttitle {
  font-size: 2rem;
  text-transform: uppercase;
  padding-bottom: 2vh;
}

/* Create three columns on larger screens */
.contactways {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Style each column */
.phone,
.address,
.facebook {
  flex: 1;
  text-align: center;
  margin: 10px; /* Add spacing between columns */
}


/******************************************
/* FOOTER STYLES
/*******************************************/



/******************************************
/* MOBILE/MEDIA STYLES
/*******************************************/


/* CSS for larger screens */

.services {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 48%; /* Adjust the width as needed */
}

/* CSS for cell phones */

@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .services {
    flex-direction: column;
  }

  .column {
    width: 100%; /* Columns take full width on smaller screens */
    margin-bottom: 2em; /* Add some spacing between the stacked columns */
  }

  .svc {
    background-attachment: scroll;
  }

}

@media (max-width: 1068px) {
  .tithesleft,
  .givingleft,
  .benevolenceleft {
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  /* Stack the columns into a single column */
  .contactways {
    flex-direction: column;
  }

  .contactways img {
    max-width: 75px;
  }

  /* Remove spacing between columns */
  .phone,
  .address,
  .facebook {
    margin: 0;
    padding-bottom: 1.5vh;
  }
}