/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
} 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html * {
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

/******************************************
/* LAYOUT
/*******************************************/



:root {
  --color-purple-main: #33032f;
  --color-main-sub: #bfb1c1;
  --color-main-complement: #071108;
  --color-blue-gray: #b5bec6;
  --color-blue-accent: #c7dbe6;
  --color-main: #521945;
  --color-accent: #f0dfad;
  --color-sub-accent: #698996;
  --color-brown: #8f5c38;
  --color-beige: #edf0da;
  --color-griege: #a89b8c;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.header {

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.25rem;
  width: 100%;
  height: 6rem;
  margin: 0 auto;
  background-color: var(--color-main);
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  
}

ul li{
  display: inline-block;
  margin-right: 5vw;
  
  
}

li > a{
   color: var(--color-accent);
   text-decoration: none;
}

.navbar img {
  max-height: 50px;
  margin-right: auto;
  margin-left: 5vh;
}


/* BURGER MENU */

.burger {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.burger:hover {
  cursor: pointer;
}

.burger-line {
  display: block;
  border-radius: 2px;
  width: 40px;
  height: 3px;
  background-color: var(--color-accent); 
  margin: 5px 0;
  margin-right: 5vw;
  transition: transform 0.3s ease-in-out;
  transition-duration: 500ms;
}

.burger.open .line1 {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.burger.open .line2 {
  opacity: 0;
}

.burger.open .line3 {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

.menu {
  display: none;
  list-style: none;
  padding: 0;
}

.menu.open {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  padding-top: 5vh;
  padding-left: 3vh;
  background-color: var(--color-main-complement);
}

.menu-item {
  margin-bottom: 10px;
}


@media (min-width: 769px) {
  .burger {
    display: none;
  }

  .menu {
    display: inline-block;
  }
}




.hero {
  display: flex;
  flex-direction: column;
  background-image: url("../img/peacefultree.jpg");
  background-position: bottom;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}


.logo img{
  object-fit: cover;
  max-width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subheadline {
  font-size: 1.4rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding-bottom: 3vh;
}

.intro {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: white;
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.intro h2{
  font-size: 1.7rem;
  text-align: center;
  color: var(--color-main);
}

.introheads2 {
  display: inline-block;
  text-align: center;
  padding: 3vh;
}

.introheads2 span{
  margin-inline: 10px;
  color: var(--color-accent);
  font-size: 1.4rem;
  text-transform: uppercase;
  
}

/* SERVICES SECTION */
.svc {
  display: flex;
  flex-direction: column;
  background-image: url("../img/churchhands.jpg");
  background-attachment: fixed; /* parallax effect */
  background-position: bottom;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  color: white;

}

.services {
  display: flex;
  justify-content: space-between;
  color: white;

}

.column {
  width: 48%; /* Adjust the width as needed */
}

.left {
  text-align: center;
  padding-bottom: 3vh;
}

.right {
  text-align: center;
}

.servicetitle {
  text-align: center;
  font-size: 2rem;
}

/* Additional styles for the content */
.svc h1{
  padding-top: 1.5em;
}

.services h2 {
  padding-top: 1.5em;
  margin-top: 1.5em;
  font-size: 1.7rem;
  
}

.services p {
  margin-bottom: 1em;
  margin-left: 5vw;
  font-size: 1.2rem;
}

.services span {
  display: block;
  margin-bottom: 0.5em;
}

.clickbutton {
  margin-top: 1em;
}





/* CONTACT SECTION */

.contact {
  display: flex;
  flex-direction: row;
  background-color: var(--color-brown);
  align-items: center;
}

.contact > div {
  
}





/******************************************
/* MEDIA STYLES
/*******************************************/


/* CSS for larger screens */

.services {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 48%; /* Adjust the width as needed */
}

/* CSS for cell phones */

@media (max-width: 600px) { /* Adjust breakpoint as needed */
  .services {
    flex-direction: column;
  }

  .column {
    width: 100%; /* Columns take full width on smaller screens */
    margin-bottom: 2em; /* Add some spacing between the stacked columns */
  }
}

/* turn off parallax scrolling on cell phones */ 
@media (max-width: 600px) {
  .svc {
    background-attachment: scroll;
  }
}